@model AdminEditMovieViewModel
<h3>FİLM DÜZENLEME</h3>

<hr />
<form method="post" asp-controller="Admin" asp-action="MovieUpdate" enctype="multipart/form-data">
<div class="row">

    <div class="col-md-8">
            <div asp-validation-summary="All"></div>

            <input type="hidden" name="MovieId" value="@Model.MovieId" />
            <div class="form-label">

                <label asp-for="Title"></label>

                <input asp-for="Title" class="form-control" value="@Model.Title" />
                <span class="text-danger" asp-validation-for="Title"></span>

            </div>

            <div class="form-label">

                <label asp-for="Description"></label>
                <textarea asp-for="Description" name="Description" class="form-control">@Model.Description</textarea>
                <span class="text-danger" asp-validation-for="Description"></span>

            </div>




            <div class="form-label">
                <label>Film görseli</label>
              <input type="file" name="file" class="form-control" />

            </div>

            <button type="submit" class="btn btn-primary col-12 mt-3 mb-3">Güncelle</button>


    </div>

    <div class="col-md-4">

            <span class="text-danger" asp-validation-for="GenreIds"></span>

            @foreach (var genre in (List<Genre>)ViewBag.Genres)
        {
                <div class="form-check mt-3">
            <input class="form-check-input"
            type="checkbox"
            name ="genreIds"
            value="@genre.GenreId"
            id="genre_@(genre.GenreId)"
            @(Model.GenreIds!=null?Model.GenreIds.Any(i=>i == genre.GenreId) ? "checked":"":"")>
                <label class="form-check-label" for="genre_@(genre.GenreId)">
               
                @genre.Name

            </label>
    </div>


        }

            <img width="160px" class="mt-3" src="~/img/@Model.ImageUrl" />
            <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
</div>


</div>
</form>


@section scripts{
    <script src="https://cdn.ckeditor.com/4.16.0/basic/ckeditor.js"></script>
    <script>

        CKEDITOR.replace("Description");

    </script>

}
